<div class="exhibits my-3">
  <div class="table-container">
    <div class="table-col">
      <div class="image-wrapper py-3 pl-3">
        <img src= <%= @artist.image %> />
      </div>
    </div>

    <div class="table-col col-info py-3 pr-3">
      <h2><%= @artist.name %></h2>
      <h3>Category: <%= @artist.category %></h3>
      <p><%= @artist.info %></p>
      <p>See their work in the exhibit "<%= @artist.exhibits.first.name %>", now showing at the <%= @artist.exhibits.first.museum.name %>from <%= @artist.exhibits.first.start_date %> to <%= @artist.exhibits.first.close_date %>.</p>
      <div class="d-flex justify-content-center mb-3">
        <button type="button" class="btn btn-outline-dark mr-1">
          <%= link_to "View exhibit", exhibit_path(@artist.exhibits.first) %>
        </button>
        <button type="button" class="btn btn-outline-dark">
          <%= link_to "All exhibits", exhibits_path %>
        </button>
      </div>
    </div>
  </div>
</div>

