<div class="indexbanner"><h1>Find your next exhibition</h1></div>

<h1>Our recommendations</h1>

    <div class="exhibits">

      <% @exhibits.first(4).each do |exhibit| %>

        <div class="exhibit-card">
          <div class="exhibit-image">
            <%= link_to image_tag(exhibit.image), exhibit_path(exhibit) %>
          </div>

          <div class="exhibit-info">
            <div class="exhibit-info-name">
              <h5><%= link_to exhibit.name, exhibit_path(exhibit) %></h5>
            </div>
            <hr width="50%" size="10" color="black">

            <div class="exhibit-info-left">
              <p class="m-1"><%= link_to exhibit.museum.name, museum_path(exhibit.museum) %></p>
              <p class="m-1"></p>
            </div>

            <div class="exhibit-info-right">
              <% if exhibit.price == 0 %>
                <p class="m-1">Free!</p>
              <% else %>
                <p class="m-1">£<%= exhibit.price %></p>
              <% end %>
              <p><%= exhibit.start_date %> - <%= exhibit.close_date %></p>
            </div>

          </div>

        </div>

      <% end %>
    </div>


<h1>Artist of the week</h1>

<div class="ft-artist-card">
  <div class="ft-artist-image">
  <%= image_tag(Artist.last.image) %>
  </div>

  <div class="ft-artist-card-info">
    <h3><%= Artist.last.name %></h3>
    <p><%= Artist.last.info %></p>
  </div>
</div>

<h1>Did you know?</h1>

<div class="ft-museum-card">
  <div class="ft-museum-card-info">
    <h3><%= Museum.last.name %> </h3>
    <p><%= Museum.last.info %></p>
  </div>

  <div class="ft-museum-image">
    <%= image_tag(Museum.last.image) %>
  </div>

</div>

<h1>All Exhibits</h1>

  <div class="exhibits">

      <% @exhibits.each do |exhibit| %>

        <div class="exhibit-card">
          <div class="exhibit-image">
            <%= link_to image_tag(exhibit.image), exhibit_path(exhibit) %>
          </div>

          <div class="exhibit-info">
            <div class="exhibit-info-name">
              <h5><%= link_to exhibit.name, exhibit_path(exhibit) %></h5>
            </div>

            <hr width="50%" size="10" color="black">

            <div class="exhibit-info-left">
              <p class="m-1"><%= link_to exhibit.museum.name, exhibit.museum.website %></p>
              <p class="m-1"></p>
            </div>

            <div class="exhibit-info-right">
              <% if exhibit.price == 0 %>
                <p class="m-1">Free!</p>
              <% else %>
                <p class="m-1">£<%= exhibit.price %></p>
              <% end %>
              <p><%= exhibit.start_date %> - <%= exhibit.close_date %></p>
            </div>

          </div>

        </div>

    <% end %>
</div>


