<div class="indexbanner"><h1>Never miss an exhibition again</h1></div>

<h2>Our recommendations</h2>

    <div class="exhibits">

      <% @exhibits.first(4).each do |exhibit| %>

        <div class="exhibit-card">
          <div class="exhibit-image">
            <%= link_to image_tag(exhibit.image), exhibit_path(exhibit) %>
          </div>

          <div class="exhibit-info">
            <div class="exhibit-info-name">
              <h5><%= link_to exhibit.name, exhibit_path(exhibit) %></h5>
            </div>
            <hr width="50%" size="10" color="black">

            <div class="exhibit-info-left">
              <p class="m-1"><%= link_to exhibit.museum.name, museum_path(exhibit.museum) %></p>

              <% if exhibit.favourites.exists? %>
                <p class="m-1" id="exhibit-<%= exhibit.id %>"><%= link_to image_tag("https://img.icons8.com/ios-filled/32/000000/like.png", height: "20px", width: "20px"), favourite_path(exhibit.favourites.first), method: :delete %></p>
              <% else  %>
                <p class="m-1" id="exhibit-<%= exhibit.id %>"><%= link_to image_tag("https://img.icons8.com/ios/32/000000/like.png", height: "20px", width: "20px"), exhibit_favourites_path(exhibit), remote: true, method: :post %></p>
              <% end %>
            </div>

            <div class="exhibit-info-right">
              <% if exhibit.price == 0 %>
                <p class="m-1">Free!</p>
              <% else %>
                <p class="m-1">£<%= exhibit.price %></p>
              <% end %>
              <p><%= exhibit.start_date %> - <%= exhibit.close_date %></p>
            </div>

          </div>

        </div>

      <% end %>
    </div>


<h2>Artist of the week</h2>

<div class="ft-artist-card">
  <div class="ft-artist-image">
  <%= link_to image_tag(Artist.last.image), artist_path(Artist.last) %>
  </div>

  <div class="ft-artist-card-info">
    <h3><%= Artist.last.name %></h3>
    <p><%= Artist.last.info %></p>
  </div>
</div>

<h2>Did you know?</h2>

<div class="ft-museum-card">
  <div class="ft-museum-card-info">
    <h3><%= Museum.last.name %> </h3>
    <p><%= Museum.last.info %></p>
  </div>

  <div class="ft-museum-image">
  <%= link_to image_tag(Museum.last.image), museum_path(Museum.last) %>
  </div>

</div>

<h2>All Exhibits</h2>

  <div class="exhibits">

      <% @exhibits.each do |exhibit| %>

        <div class="exhibit-card">
          <div class="exhibit-image">
            <%= link_to image_tag(exhibit.image), exhibit_path(exhibit) %>
          </div>

          <div class="exhibit-info">
            <div class="exhibit-info-name">
              <h5><%= link_to exhibit.name, exhibit_path(exhibit) %></h5>
            </div>

            <hr width="50%" size="10" color="black">

            <div class="exhibit-info-left">
              <p class="m-1"><%= link_to exhibit.museum.name, museum_path(exhibit.museum) %></p>

              <% if exhibit.favourites.exists? %>
                <p class="m-1" id="exhibit-<%= exhibit.id %>"><%= link_to image_tag("https://img.icons8.com/ios-filled/32/000000/like.png", height: "20px", width: "20px"), favourite_path(exhibit.favourites.first), method: :delete %></p>
              <% else  %>
                <p class="m-1" id="exhibit-<%= exhibit.id %>"><%= link_to image_tag("https://img.icons8.com/ios/32/000000/like.png", height: "20px", width: "20px"), exhibit_favourites_path(exhibit), remote: true, method: :post %></p>
              <% end %>
            </div>

            <div class="exhibit-info-right">
              <% if exhibit.price == 0 %>
                <p class="m-1">Free!</p>
              <% else %>
                <p class="m-1">£<%= exhibit.price %></p>
              <% end %>
              <p><%= exhibit.start_date %> - <%= exhibit.close_date %></p>
            </div>

          </div>

        </div>

    <% end %>
</div>


