<div class="indexbanner"><h1>Never miss an exhibition again</h1></div>

<h2 class="subtitles" id="recommendations">Our recommendations</h2>

    <div class="exhibits">

      <% @exhibits.first(4).each do |exhibit| %>

        <div class="exhibit-card">
          <div class="exhibit-image">
            <%= link_to image_tag(exhibit.image), exhibit_path(exhibit) %>
          </div>

          <div class="exhibit-info">
            <div class="exhibit-info-name">
              <h5><%= link_to exhibit.name, exhibit_path(exhibit) %></h5>
            </div>
            <hr width="50%" size="10" color="black">

            <div class="exhibit-info-left">
              <p class="m-1"><%= link_to exhibit.museum.name, museum_path(exhibit.museum) %></p>
              <div class="heart-hover">
                <% if exhibit.favourites.exists? %>
                  <%= link_to favourite_path(exhibit.favourites.first), remote: true, method: :delete, class: "heart" do %>
                    <%= image_tag "https://image.flaticon.com/icons/png/512/1077/1077086.png".html_safe, alt: "all" %>
                  <% end %>
                <% else  %>
                  <%= link_to exhibit_favourites_path(exhibit), remote: true, method: :post, class: "heart" do %>
                    <%= image_tag "https://image.flaticon.com/icons/png/512/1077/1077035.png".html_safe, alt: "all" %>
                  <% end %>
                <% end %>
              </div>
            </div>

            <div class="exhibit-info-right">
              <% if exhibit.price == 0 %>
                <p class="m-1">Free!</p>
              <% else %>
                <p class="m-1">£<%= exhibit.price %></p>
              <% end %>
              <p><%= exhibit.start_date %> - <%= exhibit.close_date %></p>
            </div>

          </div>

        </div>

      <% end %>
    </div>


<h2 class="subtitles">Artist of the week</h2>

<div class="ft-artist-card">
  <div class="ft-artist-image">
  <%= link_to image_tag(Artist.last.image), artist_path(Artist.last) %>
  </div>

  <div class="ft-artist-card-info">
    <h3><%= Artist.last.name %></h3>
    <p><%= Artist.last.info %></p>
  </div>
</div>

<h2 class="subtitles">Did you know?</h2>

<div class="ft-museum-card">
  <div class="ft-museum-card-info">
    <h3><%= Museum.last.name %> </h3>
    <p><%= Museum.last.info %></p>
  </div>

  <div class="ft-museum-image">
  <%= link_to image_tag(Museum.last.image), museum_path(Museum.last) %>
  </div>

</div>

<h2 class="subtitles">All Exhibits</h2>

  <div class="exhibits">

      <% @exhibits.each do |exhibit| %>

        <div class="exhibit-card">
          <div class="exhibit-image">
            <%= link_to image_tag(exhibit.image), exhibit_path(exhibit) %>
          </div>

          <div class="exhibit-info">
            <div class="exhibit-info-name">
              <h5><%= link_to exhibit.name, exhibit_path(exhibit) %></h5>
            </div>

            <hr width="50%" size="10" color="black">

            <div class="exhibit-info-left">
              <p class="m-1"><%= link_to exhibit.museum.name, museum_path(exhibit.museum) %></p>

              <div class="heart-hover">
                <% if exhibit.favourites.exists? %>
                  <%= link_to favourite_path(exhibit.favourites.first), remote: true, method: :delete, class: "heart" do %>
                    <%= image_tag "https://image.flaticon.com/icons/png/512/1077/1077086.png".html_safe, alt: "all" %>
                  <% end %>
                <% else  %>
                  <%= link_to exhibit_favourites_path(exhibit), remote: true, method: :post, class: "heart" do %>
                    <%= image_tag "https://image.flaticon.com/icons/png/512/1077/1077035.png".html_safe, alt: "all" %>
                  <% end %>
                <% end %>
              </div>
            </div>

            <div class="exhibit-info-right">
              <% if exhibit.price == 0 %>
                <p class="m-1">Free!</p>
              <% else %>
                <p class="m-1">£<%= exhibit.price %></p>
              <% end %>
              <p><%= exhibit.start_date %> - <%= exhibit.close_date %></p>
            </div>

          </div>

        </div>

    <% end %>
</div>


