
  <div id="image-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://designmuseum.org/image/468089f8-5d37-4fd3-b546-664102cb6679?width=980&height=606" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://designmuseum.org/image/52a2fa64-1e63-4943-a875-a8521f89e7dd?width=980&height=606" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://designmuseum.org/image/93ff5829-2ddf-429f-8188-83ff23ec7fb3?width=980&height=606" alt="Third slide">
      </div>
      </div>
     <a class="carousel-control-prev" href="#image-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#image-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<h1><%= @exhibit.name %></h1>

<div class="exhibits">

  <div class="exhibit-show-card">
    <div class="exhibit-info">
        <div class="info-left">
          <p class="m-1"><%= link_to @exhibit.museum.name, museum_path(@exhibit.museum) %></p>
          <p class="m-1"><a class="btn btn-secondary booking-button"  type="button" data-toggle="modal" data-target="#exampleModal"  role="button">Book!</a>
          </p>
        </div>
      <div class="info-right">
        <% if @exhibit.price == 0 %>
          <p class="m-1">Free!</p>

        <% else %>
          <p class="m-1">£<%= @exhibit.price %></p>
        <% end %>
        <p><%= @exhibit.start_date %> - <%= @exhibit.close_date %></p>
      </div>
    </div>
  </div>

  <!-- Button trigger modal -->



  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Book for <strong> <%= @exhibit.name %> </strong> </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <%= simple_form_for [ @exhibit, @booking ], remote: true do |f| %>
              <h5>Start: <strong> <%=  @exhibit.start_date %> </strong> </h5>
              <h5>Close: <strong> <%=  @exhibit.close_date %> </strong> </h5>
              <%= f.input :number_of_tickets %>
              <%= f.input :date, as: :date, html5: true %>
              <h5>Make your payment</h5>
              <%= f.input :card_holder_name %>
              <%= f.input :card_details %>
              <%= f.input :expiry_date %>
              <%= f.input :cvc %>

              <%= f.submit "Book!", :class => "btn btn-primary" %>
              <div id="message"></div>
              <div id="fail-message"></div>
            <% end %>
        </div>
         <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%# <button type="button" class="btn btn-primary">Add to My Bookings</button> %>
        </div>
      </div>
    </div>
  </div>


  <div class="about-the-artist">
    <div class="info-left">

      <h2>About the artist</h2>
      <h3><%= link_to @exhibit.artists.first.name, artist_path(@exhibit.artists.first) %></h3>
      <p><%= @exhibit.artists.first.info %></p>
    </div>
  <div class="info-right">
      <h2>About the museum</h2>
      <h3><%= link_to @exhibit.museum.name, museum_path(@exhibit.museum) %></h3>
      <p><%= @exhibit.museum.info %></p>

  </div>
</div>

