<div class="booking-confirmation-banner"><h1>Booking Confirmation</h1></div>

<%# <div class="container">
  <h1 class="booking-details-title">Booking Details</h1>
</div> %>

<div class="container">
  <div class="booking-confirmation-card">
    <%= image_tag @booking.exhibit.image, class: "booking-image" %>
    <div class="my-bookings-details">
      <div class="exhibit-name">
        <div class="name">
          <h2 class="details-name"><%= link_to @booking.exhibit.name, exhibit_path(@booking.exhibit) %></h2>
        </div>
      </div>

      <div class="date-museum">
        <div><p class="details-location"><%= link_to @booking.exhibit.museum.name, museum_path(@booking.exhibit.museum) %></p></div>
      </div>
      <div class="booking-info">
        <div class="labels">
          <p>Date: </p>
          <p>Number of tickets: </p>
          <p>Booking total: </p>
        </div>

        <div class="values">
          <p class="pound numbers"><%= @booking.date.strftime("%d/%m/%Y") %></p>
          <p class="pound numbers"><%= @booking.number_of_tickets %></p>
          <p class="pound numbers">£<%= (@booking.exhibit.price * @booking.number_of_tickets) %></p>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="container">
  <div class="nav-buttons">
    <button type="button" class="btn btn-outline-dark">
          <%= link_to "Back to exhibit", exhibit_path(@booking.exhibit), class:"buttonnav" %>
    </button>
    <button  type="button" class="btn btn-outline-dark">
          <%= link_to "All exhibits", exhibits_path, class:"buttonnav" %>
    </button>
  </div>
</div>
