

<div class="my-bookings-banner"><h1>My bookings</h1></div>

<div class="container bookings">
  <div class="my-bookings-list">
      <% @bookings.each do |booking| %>
        <% if booking.user==current_user %>
          <div class="my-bookings-card">
            <%= image_tag booking.exhibit.image, class: "my-bookings-image" %>
            <div class="my-bookings-details">
              <div></div>
              <div>
                <h2 class="details-name"><%= link_to booking.exhibit.name, exhibit_path(booking.exhibit) %></h2>
              </div>
              <div class="booking-info">
                <p><%= booking.date.strftime("%d/%m/%Y") %></p>
                <p class="details-location"><strong> </strong><%= link_to booking.exhibit.museum.name, museum_path(booking.exhibit.museum) %></p></p>
                <p>£<%= booking.exhibit.price %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

