
<div class="museum-image">
  <%= link_to image_tag(@museum.image), @museum.website, target: :_blank %>
</div>


<div class="container">
    <div class="museum-info">
      <div class="museum-name">
        <h2><%= @museum.name %></h2>
      </div>

      <div class="address-website">
        <div><p><%= @museum.address %></p></div>
        <div><p><%= @museum.website %></p></div>
      </div>
    </div>

    <div class="museum-details">
      <h4>About the museum</h4>
      <p><%= @museum.info  %></p>
    </div>

    <h4>Current exhibitions:</h4>

    <div class="exhibits">
      <% @museum.exhibits.each do  |exhibit| %>
                <div class="exhibit-card">
          <div class="exhibit-image">
            <%= link_to image_tag(exhibit.image), exhibit_path(exhibit) %>
          </div>

          <div class="exhibit-info">
            <div class="exhibit-info-name">
              <h5><%= link_to exhibit.name, exhibit_path(exhibit) %></h5>
            </div>
            <hr width="50%" size="10" color="black">

            <div class="exhibit-info-left">
              <p class="m-1"><%= link_to exhibit.museum.name, museum_path(exhibit.museum) %></p>
              <div class="heart-hover">
                <% if exhibit.favourites.exists? %>
                  <%= link_to favourite_path(exhibit.favourites.first), remote: true, method: :delete, class: "heart" do %>
                    <%= image_tag "https://image.flaticon.com/icons/png/512/1077/1077086.png".html_safe, alt: "all" %>
                  <% end %>
                <% else  %>
                  <%= link_to exhibit_favourites_path(exhibit), remote: true, method: :post, class: "heart" do %>
                    <%= image_tag "https://image.flaticon.com/icons/png/512/1077/1077035.png".html_safe, alt: "all" %>
                  <% end %>
                <% end %>
              </div>
            </div>

            <div class="exhibit-info-right">
              <% if exhibit.price == 0 %>
                <p class="m-1">Free!</p>
              <% else %>
                <p class="m-1">£<%= exhibit.price %></p>
              <% end %>
              <p><%= exhibit.start_date %> - <%= exhibit.close_date %></p>
            </div>

          </div>

        </div>
      <% end %>
    </div>
</div>
