
<div class="museum-image">
  <%= link_to image_tag(@museum.image), @museum.website %>
</div>
<div class="container">
    <div class="museum-info">
      <h2><%= @museum.name %></h2>
      <div class="address-website">
        <p><%= @museum.address %></p>
        <p><%= @museum.website %></p>
      </div>
    </div>
    <p><%= @museum.info  %></p>
    <div class="exhibits-title"></div>
    <div class="exhibits">
      <% @museum.exhibits.each do  |exhibit| %>
        <div class="exhibit-card">
          <div class="exhibit-image">
            <%= link_to image_tag(exhibit.image), exhibit_path(exhibit) %>
          </div>
          <div class="exhibit-info">
            <h5><%= exhibit.name %></h5>
            <hr width="50%" size="10" color="black">
            <div class="exhibit-details">
              <p>£<%= exhibit.price %></p>
              <div class="dates">
                <p><%= exhibit.start_date %></p>
                <p><%= exhibit.close_date %></p>
              </div>
            </div>
          </div>
         </div>
      <% end %>
    </div>
</div>
